@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');

:root {
    --cor-fundo: linear-gradient(68.2deg, rgb(7, 3, 98) -0.1%, rgb(179, 26, 132) 47.7%, rgb(239, 186, 83) 100.2%);
}

body {
    background-image: var(--cor-fundo);
    color: white;
    font-family: 'Josefin Slab', serif;
    font-smooth: auto;
    height: 820px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
}

.move-icon {
    height: 40px;

/*
Usando a opção CSS Filter, você pode aplicar efeitos ou alterar cores de forma rápida. Para alterar a cor de uma imagem, modifique as porcentagens das seguintes funções: grayscale(), sepia(), saturate(), opacity(), brightness(), contrast() e invert(). Se a imagem estiver em preto e branco, não será possível aumentar a saturação. O truque é aplicar o filtro sepia() para dar-lhe uma tonalidade e, assim, modificá-lo.

Além das opções para alterar a cor, você também pode usar filtros com efeitos para modificar imagens:
Grayscale → Altera a escala de cinza
Invert → Inverte cores
Brightness → Ajusta o brilho
Saturation → Modifica a saturação
Contrast → Aumenta ou diminui o contraste
Sepia → Dá um tom marrom ao preto e branco para modificar o nível de saturação
Blur → Desfoca, borra
Opacity → Altera a opacidade
Hue-rotate → Altera o tom da imagem
Drop-shadow → Cria uma sombra
*/
   filter: invert(80%) sepia(86%) saturate(2808%) hue-rotate(190deg) brightness(103%) contrast(100%);
}

.move-button {
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 10px;
    cursor: pointer;
}

.move-button:hover {
    opacity: 0.5;
}

.move-button:active {
    scale: 0.9;
}

.result {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    color: white;
}

.score {
    margin-top: 60px;
    color: white;
    font-weight: bold;

}

.js-moves {
    font-weight: bold;
}

.reset-score,
.auto-play {
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
    margin-top: 3em;

    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;

    background: transparent;
    box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.1);

    font-smooth: auto;
    color: rgba(255, 255, 255, 0.8);
}

.reset-score:hover {
    opacity: 0.5;
}

.reset-score:active {
    scale: 0.9;
}

.auto-play:hover {
    opacity: 0.5;
}

.auto-play:active {
    scale: 0.9;
}

.info {
    text-align: center;
    font-size: 20px;
    margin-top: 4em;
    line-height: 36px;
}

span {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 1px;
    padding-top: 3px;
    padding-left: 2px;
    padding-right: 2px;
}

h5 {
    text-align: center;
    margin-top: 9em;
}

@media(max-width: 430px) {

    body {
        height: 680px;
        font-smooth: auto;
    }

    .title {
        margin-top: -250px;
        font-smooth: auto;
    }

    .result {
        font-size: 25px;
        font-weight: bold;
        font-smooth: auto;
    }

    .score {
        font-smooth: auto;
        font-weight: bold;
    }

    .js-moves {
        font-smooth: auto;
        font-weight: bold;
    }

    .move-button {
    background-color: transparent;
    border: 3px solid white;
    width: 110px;
    height: 110px;
    border-radius: 60px;
    margin: 10px;
    cursor: pointer;
}

    .move-icon {
    height: 30px;

/*
Usando a opção CSS Filter, você pode aplicar efeitos ou alterar cores de forma rápida. Para alterar a cor de uma imagem, modifique as porcentagens das seguintes funções: grayscale(), sepia(), saturate(), opacity(), brightness(), contrast() e invert(). Se a imagem estiver em preto e branco, não será possível aumentar a saturação. O truque é aplicar o filtro sepia() para dar-lhe uma tonalidade e, assim, modificá-lo.

Além das opções para alterar a cor, você também pode usar filtros com efeitos para modificar imagens:
Grayscale → Altera a escala de cinza
Invert → Inverte cores
Brightness → Ajusta o brilho
Saturation → Modifica a saturação
Contrast → Aumenta ou diminui o contraste
Sepia → Dá um tom marrom ao preto e branco para modificar o nível de saturação
Blur → Desfoca, borra
Opacity → Altera a opacidade
Hue-rotate → Altera o tom da imagem
Drop-shadow → Cria uma sombra
*/
   filter: invert(80%) sepia(86%) saturate(2808%) hue-rotate(190deg) brightness(103%) contrast(100%);
}

    .info {
        display: none;
    }
}

@media(max-width: 1024px) {


    .title {
        padding-top: 10em;
        padding-bottom: 1em;
    }


    body {
        background-size: cover;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 32rem;
    }

    .info {
        display: none;
    }
}